#2017/11/03 14:09:00
#Test

#This is the prifix that LatiOS will look for in messages to signify a command
S:commandPrefix=!;

#The name of the bot account
S:botName=LatiBot;

#The Server owner's Discord ID
S:botOwnerID=142409073722130432;

#This is the token LatiOS uses to connect to the bot account in your server
S:botToken=MTgwMTI3MTM2MjQwMjM4NTky.DN0DpQ.eXjsNeJ9O6b0qDrzPv9k4qBZ0f4;

#The level of logs to show
S:loggingLevel=All;

